body
  background url('../images/underwater.jpg')

.input_boutique
  display block
  text-align center
  width 1.75rem
  margin-left auto
  margin-right auto
  margin-top 0.5rem

.opa-30
  --bg-opacity 0.3

.opa-75
  --bg-opacity 0.75

.wid
  width 65%

.ml7
  margin-left 7.9rem

.ppa
  padding-top 1.6rem
  padding-bottom 1.6rem

.pem
  padding-top 0.3rem
  padding-bottom 0.3rem

.psv
  padding-top 0.2rem
  padding-bottom 0.2em

.psn
  padding-top 2.26rem
  padding-bottom 2.26rem

.w-72
  width 18rem

.text-2r
  font-size 2rem

.mt-72
  margin-top 18rem

.w-100
  width 16rem

.w-28
  width 7rem

.pr-22
  padding-right 5.4rem

.white-bar
  background-color white
  height 0.1rem

.ml-22
  margin-left 5.5rem

.pr24
  padding-right 2.4rem

.w80
  width 85%